.required_label {
    color: #FE0606;
}
.required:after {
    content: "*";
    padding-left: 5px;
    color: #FE0606;
}

.navigation_header {
    background-color: #5bc0de;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;
}

.containerPage {
    padding-top: 10px;
}
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.clearBoth {
    clear: both;
}
.error {
    padding-left: 5px;
    color: #FE0606;
}

a {
    cursor: pointer;
}

.single-content a {
    font-size: 15px;
}

.single-content a:hover {
    font-size: 16px;
    text-decoration: underline !important;
}